@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --ff: Poppins, sans-serif;
    --lightfw: 200;
    --fw: 400;
    --heavyfw: 600;
    --fontSize: 0.9375rem;
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --darkBlue: hsl(234, 12%, 34%);
    --grayBlue: hsl(229, 6%, 66%);
    --grayBlueLight: hsl(229, 6%, 72%);
    --lightGray: hsl(0, 0%, 98%);
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: var(--fontSize);
}

body {
    font-size: 1rem;
    background-color: var(--lightGray);
    font-family: var(--ff);
    font-weight: var(--fw);
    color: var(--grayBlue);
    padding: 4rem 2rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    line-height: 1.7;
}

header {
    text-align: center;
    margin-block-end: 2rem;
}

h1, h2 {
    color: var(--darkBlue);
    font-weight: var(--heavyfw);
    line-height: 1.5;
}

h1 {
    font-size: 1.6em;
    margin-block-end: 1rem;
}

.light {
    font-weight: var(--lightfw);
}

.description {
    font-size: 1.03rem
}

.container {
    max-width: 21.5rem;
}

.grid-container {
    display: grid;
    gap: 2rem;
    margin-inline: auto;
}

.card {
    background-color: white;
    box-shadow: 0 1rem 1.5rem -0.5rem var(--grayBlue);
    padding: 1.5rem 2rem;
    border-radius: 5px;
}

h2 {
    font-size: 1.3em;
    margin-block-end: 0.4rem;
}

.small-description {
    font-size: 0.9em;
    margin-block-end: 2rem;
    color: var(--grayBlueLight);
}

.icon {
    float: right;
    display: block;
    max-width: 100%;
}

.cyan {
    border-top: 4px solid var(--cyan);
}

.red {
    border-top: 4px solid var(--red);
}

.orange {
    border-top: 4px solid var(--orange);
}

.blue {
    border-top: 4px solid var(--blue);
}

/* Desktop Changes */

@media screen and (min-width: 55em) {
    .container-narrow {
        max-width: 35rem;
    }

    h1 {
        font-size: 2.2em;
    }

    .small-description {
        margin-block-end: 3rem;
    }

    .grid-container {
        grid-template: repeat(4, 1fr) / repeat(3, 1fr);
        max-width: 75rem;
    }

    .cyan {
        grid-area: 2 / 1 / span 2 / 1;
    }

    .red {
        grid-area: 1 / 2 / span 2 / 2;
    }

    .orange {
        grid-area: 3 / 2 / span 2 / 2;
    }

    .blue {
        grid-area: 2 / 3 / span 2 / 3;
    }
}
